.propiedad-detalle-container {
  margin-left: 240px;
  padding: 2rem;
  min-height: 100vh;
  background-color: #1b1e2b;
  color: #fff;
}

/**card**/
.propiedad-detalle-card {
  background-color: #23263a;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  border: 1px solid rgba(255,255,255,0.08);
  margin-bottom: 25px;
}

.propiedad-detalle-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #7adeff;
  margin-bottom: 1.5rem;
}

.propiedad-detalle-info p {
  font-size: 1rem;
  margin-bottom: 0.6rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #383d5e;
}

/***modal***/

.propiedad-detalle-label {
  margin-bottom: 0.25rem;
  display: block;
}

.propiedad-detalle-input {
  background-color: #2c2f44;
  border: 1px solid #3e4162;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 1rem;
}

/***botones***/
.propiedad-detalle-container .btn{
    margin: 5px;
}

.btn-editar {
  background-color: #7adeff !important;
  color: #2c2f44 !important;
  border: none;
}
.btn-editar:hover {
    background-color: #7adeffce !important;
}


.btn-guardar {
  background-color: #5865f2;
  border: none;
}
.btn-guardar:hover { background-color: #4754d8; }

.btn-cancelar {
  background-color: #6c757d;
  border: none;
}
.btn-cancelar:hover { background-color: #5a6268; }