/**sidebar**/
.sidebar {
  width: 220px;
  height: 100%;
  background-color: #1f2233;
  padding: 20px;
  position: fixed;
}

.sidebar h3 {
  color: #f1f3ff;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 20px;
}

.sidebar a {
  color: #aab2d6;
  text-decoration: none;
  font-weight: 500;
}

.sidebar a:hover {
  color: #5865f2;
}

/*********************************************************/
body {
  background-color: #1b1e2b;
  color: #f1f3ff;
  font-family: 'Inter', sans-serif;
}


/**botones**/
.btn-primary {
  background-color: #415391;
  border: none;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: #5b65d6;
}

.btn-secondary {
  background-color: #3e425b;
  border: none;
}

.btn-secondary:hover {
  background-color: #52577a;
}

/**inputs**/

input.form-control {
  background-color: #2c2f44;
  color: #f1f3ff;
  border: 1px solid #3e4162;
}

input.form-control:focus {
  background-color: #a7a8b6;
  border-color: #5865f2;
  box-shadow: 0 0 0 0.2rem rgba(88, 101, 242, 0.25);
}

input::placeholder {
  color: #aab2d6 !important;
}

input:focus::placeholder {
  color: #2c2f44 !important;
}

/**modal**/

.modal-content {
  background-color: #23263a;
  color: #f1f3ff;
  border-radius: 10px;
  border: none;
}

/**dashboard**/
.dashboard-inmobiliaria{
  margin-left: 240px;
  padding: 2rem;

}
